:root {
	--page-background: #181820;
	--content-color: #e0e0f0;
	--content-background: #303038;
	--inset-background: #505058;
	--inset-border: #404048;
	--button-color: #183828;
	--button-background: #c8f0d0;
	--button-border: #709080;
	--button-highlight: #e8f0ec;

	--nav-width: 160px;
}
  
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: #508068;
}

a:visited {
	color: #406050;
}

body {
	background-color: var(--page-background);
	color: var(--content-color);
	font-family: sans-serif;
	margin-bottom: 80px; /* Space at the bottom for the Contact panel. */
}

h1, h2, h3, h4 {
	color: var(--button-background);
	font-family: 'Roboto', sans-serif;
}

h4 {
	font-weight: lighter;
}

header {
	align-items: center;
	background-color: var(--content-background);
	background-image: url("../images/banner.jpg");
	background-position: 0px -400px;
	background-repeat: no-repeat;
    background-size: cover;
	display: flex;
	height: 150px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 100;
}

header::after {
	background: linear-gradient(transparent, var(--page-background));
	content: "";
    height: 100%;
	left: 0;
	position: absolute;
    top: 0;
	width: 100%;
	z-index: -1;
}

header h1 {
	margin-left: 50px;
	text-shadow: 0 0 5px var(--page-background);
	white-space: nowrap;
}

nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	right: 0;
	top: 0;
	width: var(--nav-width);
	z-index: 1000;
}

nav div {
	align-items: center;
	background-color: var(--content-background);
	border: solid 2px var(--content-border);
	border-radius: 34px;
	display: flex;
	justify-content: flex-end;
	margin: 20px;
	overflow: hidden;
	padding: 10px;
	transition-duration: 0.5s;

}

nav a, nav a:visited {
	color: var(--button-color);
	display: block;
	padding: 4px;
	text-align: center;
	text-decoration: none;
}

nav h3 {
	color: var(--content-color);
	font-size: 20px;
	margin-left: 20px;
	order: 2;
	position: relative;
	right: 10px;
	transition-delay: 0.25s;
	transition-duration: 0.5s;
	writing-mode: vertical-rl;
}

nav li, #modalBG button {
	background-color: var(--button-background);
	border: solid 2px var(--button-border);
	border-radius: 6px;
	cursor: pointer;
	white-space: nowrap;
}

nav li {
	left: -100px;
	margin: 8px 0px 8px 0px;
	overflow: hidden;
	position: relative;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
	width: 0px;

}

nav li:hover, #modalBG button:hover {
	background-color: var(--button-highlight);
}

nav ul {
	list-style: none;
	width: 100%;
}

nav:hover {
	width: auto;
}

nav:hover div {
	border-radius: 20px;
	padding-left: 10px;
	width: 100%;
}

nav:hover h3 {
	right: 0;
}

nav:hover li {
	left: 0;
	margin: 8px;
	width: 100%;
}

p + p {
	margin-top: 8px;
}

section {
	background-color: transparent;
	border-radius: 4px;
	margin: 20px var(--nav-width) 20px 20px;
	padding: 10px 20px 20px 20px;
	transition: 1s;
}

/* clearfix from w3schools.com */
section::after {
	content: "";
	clear: both;
	display: table;
}

section h2 {
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
}

section h2::after {
	border-bottom: solid 4px var(--button-background);
	bottom: -2px;
	content: "";
	display: block;
	left: 0px;
	position: absolute;
	top: 0px;
	transition: 0.5s;
	width: 0%;
}

section:hover {
	background-color: var(--content-background);
}

section:hover h2::after {
	width: 100%;
}

section#about {
	position: relative;
}

section#about img {
	float: right;
	height: 300px;
	margin: 10px 0px 10px 10px;
	width: 300px;
}

section#about li {
	margin-left: 20px;
}

/* SPECIAL HANDLING FOR CONTACT INFO */
/* This will stick to the bottom of the screen once the user starts scrolling down. */
section#contact-info {
	background-color: var(--button-background);
	border-radius: 0px;
	border-top: solid 4px var(--button-border);
	bottom: -60px;
	color: var(--page-background);
	height: 60px;;
	left: 0px;
	margin: 0px;
	position: fixed;
	right: 0px;
	transition: 0.5s;
	z-index: 10;
}

section#contact-info h2 {
	color: var(--content-background);
	margin-left: 20px;
}

section#contact-info li {
	margin: 0px 14px;
}

section#contact-info li:first-child {
	list-style-type: none;
}

section#contact-info ul {
	display: inline-flex;
}

/* Applied with JS for the Contact panel to slide in from the bottom of the screen. */
section#contact-info.fly-in {
	bottom: 0px;
}

/* Eat any unnecessary spacing. */
section > *:last-child, .inset > *:last-child {
	margin-bottom: 0px;
}

.contact-nav {
	display: none;
}

.inset {
	background-color: var(--page-background);
	border: solid 2px var(--inset-border);
	border-radius: 10px;
	margin: 20px;
	padding: 14px;
}

.preheader {
	background-color: var(--content-background);
	background-image: url("../images/banner.jpg");
	background-position: 0px -200px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
}

.showcase {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: 0.5s;
}

.showcase > div > a {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 100%;
	z-index: 5;
}

.showcase h3, .showcase p {
	color: var(--button-background);
	padding: 0 20px;
	position: relative;
	text-shadow: 0 0 5px var(--page-background);
	transition: 0.5s;
}

.showcase p {
	max-height: 0px;
	overflow: hidden;
	transition: background-color 0.5s, max-height 1s;
}

.showcase div {
	background-position: center;
	background-size: cover;
	height: 300px;
	margin: 10px;
	overflow: hidden;
	position: relative;
	transition: 0.5s;
	width: 300px;
}

.showcase div:hover {
	height: 320px;
	margin: 0px;
	width: 320px;
}

.showcase div:hover h3 {
	background-color: var(--content-background);
	font-size: 22px;
	margin-top: 4px;
}

.showcase div:hover p {
	background-color: var(--content-background);
	max-height: 200px;
}

.showcase div::after {
	background: linear-gradient(transparent, var(--page-background));
	bottom: 0px;
    content: "";
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	transition: 0.5s;
	width: 100%;
}

.showcase div:hover::after {
	bottom: -100%;
}

.showcase div:first-child {
	width: 620px;
}

.showcase div:first-child:hover {
	width: 640px;
}

section:hover .showcase div::after {
	background: linear-gradient(transparent, var(--content-background));
	transition: 0.5s;
}

.showcase-hopto {
	background-image: url(https://user-images.githubusercontent.com/64815650/87613461-00ada300-c6d3-11ea-92d9-47cded5c1550.png?raw=true);
}

.showcase-esorp {
	background-image: url(https://github.com/TheBobbyLlama/eso-rollplay/blob/master/snapshot.gif?raw=true);
}
.showcase-pagebound {
	background-image: url(https://github.com/TheBobbyLlama/pagebound/blob/master/Snapshot.png?raw=true);
}

/*
.showcase-project4 {
	background-image: url(https://via.placeholder.com/500);
}
.showcase-project5 {
	background-image: url(https://via.placeholder.com/500);
}
.showcase-project6 {
	background-image: url(https://via.placeholder.com/500);
}*/

.stackedcontent {
	align-items: stretch;
	color: #d0d0e0;
	display: flex;
	flex-direction: column;
	margin: 10px 0px;
}

.stackedcontent a {
	color: #90c0a8;
}

.stackedcontent a:visited {
	color: #709080;
}
.stackedcontent div {
	background-color: var(--page-background);
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 30%;
	border: solid 2px var(--inset-border);
	border-radius: 6px;
	padding: 10px 30% 10px 10px;
	transition: 0.5s;
}

.stackedcontent div:hover {
	background-color: var(--content-background);
}

.stackedcontent div + div {
	margin-top: 10px;
}

.stackedcontent h4 {
	color: #f0f0ff;
	font-size: 18px;
	margin-bottom: 4px;
}

.stackedcontent li {
	display: inline;
}

.stackedcontent li + li::before{
	content: " / "
}

.stackedcontent ul {
	list-style: none;
}

.dwemermatron {
	background-image: url(../images/skyrim-dwemermatron.jpg);
}

.reincarnation {
	background-image: url(../images/skyrim-reincarnation.jpg);
}

.rmao {
	background-image: url(../images/skyrim-RMAO.gif);
}

#modalBG {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.75);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

.show {
	display: block !important;
}

#modalBG.show {
	display: flex !important;
}

#modalBG > div {
	background-color: var(--content-background);
	border: solid 2px var(--page-background);
	border-radius: 10px;
	display: none;
	margin: 20px;
	max-height: 100%;
	overflow: auto;
	padding: 10px 20px;
	width: 80%;
}

#modalBG > div > div:last-child {
	display: flex;
	justify-content: center;
}

#modalBG button {
	margin: 10px;
	padding: 2px 8px;
}

#modalBG h2 {
	text-align: center;
}

#modalBG a {
	color: var(--button-background);
}

#modalBG a:visited {
	opacity: 0.75;
}

#modalBG a:hover {
	color: var(--button-highlight);
}

#modalBG .linkholder a {
	margin: 10px;
}

#modalBG > div > div {
	text-align: center;
}

#modalBG li {
	margin-left: 20px;
}

#modalBG p, #modalBG ul {
	margin: 10px;
}

#modalBG iframe {
	border: none;
	border-radius: 8px;
	display: block;
	height: 600px;
	margin: 10px 0px;
	width: 100%;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
	body {
		margin: 0px;
	}

	header {
		justify-content: space-between;
	}

	nav, nav:hover {
		position: static;
		width: 100%;
	}

	nav div {
		background: none;
		border: none;
		margin: 0px;
		overflow: none; 
		width: 100%;
	}

	nav h3 {
		display: none;
	}

	nav ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	nav li, nav:hover li {
		left: 0;
		margin: 8px;
		overflow: visible;
		width: 120px;
	}

	section {
		margin-right: 20px;
	}

	/* All that special handling for the Contact panel needs to be reverted so it's a normal section now. */
	section#contact-info {
		background-color: transparent;
		border-radius: 4px;
		border-top: none;
		bottom: 0px;
		color: inherit;
		height: auto;
		margin: 20px;
		position: static;
		transition: 1s;
		z-index: 0;
	}
	
	section#contact-info h2 {
		color: var(--button-background);
		margin-left: 0px;
	}

	section#contact-info:hover {
		background-color: var(--content-background);
	}
	
	.contact-nav {
		display: list-item;
	}

	.showcase div h3 {
		background-color: var(--content-background);
		font-size: 22px;
	}
	
	.showcase div p {
		background-color: var(--content-background);
		max-height: 500px;
	}

	#modalBG > div {
		width: 90%;
	}

	#modalBG iframe {
		height: 400px;
	}
}

@media screen and (max-width: 768px) {
	header {
		background-position: 0px -200px;
		flex-flow: column;
		justify-content: space-around;
		position: relative;
		z-index: 0;
	}
	
	header h1 {
		margin: 20px 0px 0px 0px;
	}

	nav ul {
		justify-content: space-around;
	}

	section, section#contact-info {
		padding-bottom: 10px;
	}

	section h2::after {
		width: 100%;
	}

	section#about img {
		display: block;
		float: none;
		margin: 10px 0px;
	}

	section:hover, section#contact-info:hover {
		background-color: transparent;
	}


	.inset {
		margin: 10px 0 0 0;
	}

	.preheader {
		background-position: 0px 0px;
	}

	.showcase {
		justify-content: space-around;
	}
}

@media screen and (max-width: 700px) {
	.showcase div:first-child, .showcase div:first-child:hover {
		width: 500px;
	}
}

@media screen and (max-width: 575px) {
	header {
		background-position: 0px -100px;
		height: 180px;
	}

	section, section#contact-info {
		background-color: var(--content-background);
		margin: 10px;
	}

	section:hover, section#contact-info:hover {
		background-color: var(--content-background);
	}

	/* Revert contact info list to a standard vertical layout. */
	section#contact-info li {
		margin-left: 20px;
	}
	
	section#contact-info li:first-child {
		list-style-type: initial;
	}
	
	section#contact-info ul {
		display: initial;
	}

	.inset {
		margin: 10px -10px 0px -10px;
	}

	.preheader {
		display: none;
	}

	.showcase div:first-child, .showcase div:first-child:hover {
		width: 100%;
	}

	.stackedcontent div {
		background-color: var(--content-background);
		padding: 10px;
	}

	.stackedcontent li {
		display: list-item;
		margin-left: 20px;
	}

	.stackedcontent li + li::before {
		content: "";
	}

	.stackedcontent ul {
		list-style: initial;
	}

	.stackedcontent p {
		margin: 10px 0px;
	}

	.dwemermatron, .reincarnation, .rmao {
		background-image: none;
	}

	.dwemermatron h4, .reincarnation h4, .rmao h4 {
		background-position: center;
		background-size: cover;
		color: transparent;
		display: block;
		margin: 0px auto;
		padding-top: 75%;
		width: 100%;
	}

	.dwemermatron h4 {
		background-image: url(../images/skyrim-dwemermatron.jpg);
	}

	.reincarnation h4 {
		background-image: url(../images/skyrim-reincarnation.jpg);
	}

	.rmao h4 {
		background-image: url(../images/skyrim-RMAO.gif);
	}

	#modalBG > div {
		margin: 10px;
		padding: 10px;
		width: 100%;
	}

	#modalBG iframe {
		height: 300px;
	}
}

/* Very small screens. */
@media screen and (max-width: 440px) {
	header {
		background-position: 0px 0px;
	}

	section#about img {
		height: auto;
		width: 100%;
	}

	.showcase div, .showcase div:hover {
		height: 240px;
		width: 240px;
	}
}